---
layout: default
---

<head>
  <meta property='og:title' content='Tamara Gupper' />
  <meta property='og:image' content='{{ "/assets/img/og-image.jpg" }}' />
  <meta property='og:type' content='website' />
  <meta property='og:url' content='https://tamaragupper.de/blog/' />
  <meta property='og:description' content='Welcome to my website!' />
</head>

<small>{{ page.date | date: "%b %-d, %Y" }}</small>
<h1>{{ page.title }}</h1>

{{content}}

{% if page.tags %}
  <small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
{% endif %}